<h1><%= $game.player_1.name %> vs <%= $game.player_2.name %></h1>

<br>
<br>

<h2><%= $game.player_2.name %>'s HP: <%= $game.player_2.hp %></h2>

<br>
<br>

<% if $game.turn.odd? %>
<h2>It is <%= $game.player_1.name %>'s turn</h2>
<% end %>

<% if $game.turn.even? %>
<h2>It is <%= $game.player_2.name %>'s turn</h2>
<% end %>

<br>
<br>

<% if @attack.nil? %>
<form action="/attack" method="POST">
<input type="submit" value="Attack">
</form>
<% end %>

<% unless @attack.nil? %>
<h2><%= $game.player_2.name %> was attacked!</h2>
<% end %>

<form action="/switch" method="POST">
<input type="submit" value="Switch Players">
</form>